        p {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            color:black;
        }

        body{
            background-color: antiquewhite;
        }

        h1 {
            text-shadow: 2px 2px red;
        }
        ol {
            background: #ff9999;
            padding: 20px;
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
          }
          
          ul {
            background: #3399ff;
            padding: 20px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
          }
          ol li {
            background: #ffe5e5;
            color: darkred;
            padding: 5px;
            margin-left: 35px;
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
          }
          
          ul li {
            background: #cce5ff;
            color: darkblue;
            margin: 5px;
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
          }